# Exercise Arrays

Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out.

In [58]:
Monthly_expenses = [2200, 2350, 2600, 2130, 2190]

In [59]:
#1. In Feb, how many dollars you spent extra compare to January?


Extra = Monthly_expenses[1]-Monthly_expenses[0]
print(Extra)

150

In [60]:
#2. Find out your total expense in first quarter (first three months) of the year.


add = 0
for i in range(3):
    add += Monthly_expenses[i]
print(add)

7150

In [61]:
#3. Find out if you spent exactly 2000 dollars in any month


print('Did i spent 2000 in any month? : ',2000 in Monthly_expenses)

Did i spent 2000 in any month? :  False

In [62]:
#4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list


Monthly_expenses.append(1980)
print('Monthly Expense in June', 1980)

Monthly Expense in June 1980

In [63]:
#5. You returned an item that you bought in a month of April and
#   got a refund of 200$. Make a correction to your monthly expense list
#   based on this


Monthly_expenses[3] = Monthly_expenses[3] - 200
print(Monthly_expenses)

[2200, 2350, 2600, 1930, 2190, 1980]

# PART 2

In [154]:
# You have a list of your favourite marvel super heros.
# heros=['spider man','thor','hulk','iron man','captain america']
# Using this find out,

In [155]:
heros=['spider man','thor','hulk','iron man','captain america']

In [156]:
#1. Length of the list


print(len(heros))

5

In [157]:
#2. Add 'black panther' at the end of this list



heros.append('black panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [158]:
#3. You realize that you need to add 'black panther' after 'hulk',
#   so remove it from the list first and then add it after 'hulk'
    
heros.remove('black panther')
heros.insert(3,'black panther')
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [159]:
#4. Now you don't like thor and hulk because they get angry easily :)
#   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#   Do that with one line of code.

heros[1:3] = ['doctor strange']
print(heros)

['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']

In [160]:
#5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

dir(heros)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [161]:
heros.sort()
print(heros)

['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

# PART 3

In [162]:
# Create a list of all odd numbers between 1 and a max number. 
# Max number is something you need to take from a user using input() function
odd = []
max_num = int(input('Enter max number : '))
for i in range(1,max_num):
    if i%2==1:
        odd.append(i)
print(odd)

Enter max number : 10
[1, 3, 5, 7, 9]